img {
    width: 200px;
    height: 200px;
}

body {
    text-align: center;
    font-family: "Arial";
}

.open-arms-icon {
    margin: auto; /*centers it*/
    width: 100px;
    height: 100px;
    background-image: url("./icons/open-arms.png");
    background-size: 100px;
}

.open-arms-icon:hover {
    background-image: url("./icons/open-arms_highlighted.png");
}