body {
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400; /*boldness, 100-700*/
    position: absolute; /*centering*/
    top: 25%;
    left: 25%;
    width: 60%;
}
p {
    font-size: 12px;
}
a {
    color: black;
    text-decoration: none;
    display: inline-block; /*wraps effective link area to icon*/
}

/*home page icons*/

.open-arms-icon {
    margin: auto; /*centers it*/
    width: 140px;
    height: 140px;
    background-image: url("./icons/open-arms.png");
    background-size: 140px;
}
.open-arms-icon:hover {
    transform: translateY(-10px);
    background-image: url("./icons/open-arms_highlighted.png");
}
.open-arms-text {
    opacity: 0; /*hide text by default, but keep it there invisibly so it still takes up space (as opposed to display: none)*/
}
.open-arms-icon:hover + .open-arms-text {
    opacity: 1; /*display text when hover over icon*/
}

.music-icon {
    margin: auto; /*centers it*/
    width: 100px;
    height: 100px; /*100 px*/
    background-image: url("./icons/piano.png");
    background-size: 100px;
}
.music-icon:hover {
    transform: translateY(-10px);
    background-image: url("./icons/piano_highlighted.png");
}
.music-text {
    opacity: 0; 
}
.music-icon:hover + .music-text {
    opacity: 1;
}

.projects-icon {
    margin: auto; /*centers it*/
    width: 105px;
    height: 105px;
    background-image: url("./icons/robotics.png");
    background-size: 105px;
}
.projects-icon:hover {
    transform: translateY(-10px);
    background-image: url("./icons/robotics_highlighted.png");
}
.projects-text {
    opacity: 0; 
}
.projects-icon:hover + .projects-text {
    opacity: 1;
}

.research-icon {
    margin: auto;
    width: 106px;
    height: 106px;
    background-image: url("./icons/research.png");
    background-size: 106px;
}
.research-icon:hover {
    transform: translateY(-10px);
    background-image: url("./icons/research_highlighted.png");
}
.research-text {
    opacity: 0; 
}
.research-icon:hover + .research-text {
    opacity: 1;
}

.photography-icon {
    margin: auto;
    width: 108.7px;
    height: 108.7px; /*100 px*/
    background-image: url("./icons/photography.png");
    background-size: 108.7px;
}
.photography-icon:hover {
    transform: translateY(-10px);
    background-image: url("./icons/photography_highlighted.png");
}
.photography-text {
    opacity: 0;
}
.photography-icon:hover + .photography-text {
    opacity: 1;
}