img {
    width: 200px;
    height: 200px;
}

body {
    text-align: center;
    font-family: "Arial";
}

.open-arms-icon {
    margin: auto; /*centers it*/
    width: 120px;
    height: 120px;
    background-image: url("./icons/open-arms.png");
    background-size: 120px;
}

.open-arms-icon:hover {
    background-image: url("./icons/open-arms_highlighted.png");
}

.music-icon {
    margin: auto; /*centers it*/
    width: 100px;
    height: 100px;
    background-image: url("./icons/piano.png");
    background-size: 100px;
}

.music-icon:hover {
    background-image: url("./icons/piano_highlighted.png");
}

.projects-icon {
    margin: auto; /*centers it*/
    width: 80px;
    height: 80px;
    background-image: url("./icons/robotics.png");
    background-size: 80px;
}

.projects-icon:hover {
    background-image: url("./icons/robotics_highlighted.png");
}

.research-icon {
    margin: auto; /*centers it*/
    width: 100px;
    height: 100px;
    background-image: url("./icons/research.png");
    background-size: 100px;
}

.research-icon:hover {
    background-image: url("./icons/research_highlighted.png");
}