body {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    margin: 0;
    padding: 0 500px;
}

h2 {
    font-size: 50px;
}

p {
    font-size: 15px;
}

.caption {
    font-size: 10px;
    padding: 0 160px;
}
